@import "../App.css";

#about-segment {
  color: var(--contentInverted);
  height: fit-content;
  width: 80vw;
  margin-left: 10vw;
  margin-top:5%;
  text-transform: uppercase;
  border-top: 1px solid var(--contentInverted);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    nav {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        display: block;
        width: 50px;
        aspect-ratio: 1/1;
      }
    }
  }
  .inne {
    display: flex;
    flex-direction: column;
    div {
      font-weight: 500;
      font-size: 1.15em;
    }
    .inne-div {
      font-weight: 900;
    }
  }
  .projekt-w-ramach-zwolnieni {
    display: flex;
    flex-direction: column;
    img {
      display: block;
      height: 9vh;
    }
  }
}

@media (max-width: 700px) {
  #about-segment {
    flex-direction: column;
    .social-media {
      margin-top: 10px;
      nav {
        text-align: center;
        font-size: 0.8em;
      }
    }
    .inne{
      align-items: center;
    }
    .projekt-w-ramach-zwolnieni {
      font-size: 0.8em;
      text-align: center;
      align-items: center;
      width: 100vw;
      img {
        height: auto;
        width: 70%;
      }
    }
  }
}
