@import "../App.css";

#materialy {
  width: 100vw;
  height: 100%;
  min-height: 90vh;
}
.materialy {
  position: relative;
  height: 100%;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  .materialy-img {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 30vw;
    }
  }
}
.content-picker {
  position: fixed;
  left: 0;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  box-sizing: border-box;
  background-color: var(--content);
  transition: background-color 0.3s, color 0.3s, top 0.6s;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wide-content-picker {
  top: 10vh;
}
.show-content-picker {
  top: 10vh;
}
.show-content-picker-button {
  position: fixed;
  z-index: -1;
  font-size: 1.5em;
  background-color: var(--content);
  border: none;
  color: var(--blue);
  right: 0;
  top: 4vh;
  width: 100%;
  text-align: end;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  i {
    transform: rotate(90deg);
  }
}
.show {
  i {
    transition: transform 0.5s;
    transform: rotate(0deg);
  }
}
.dont-show {
  border-bottom: 1px solid var(--blue);
  i {
    transition: transform 0.5s;
  }
}
.content-picker-select {
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  color: var(--blue);
  background-color: var(--content);
  border: 2px solid var(--purpleHovered);
  border-radius: 5px;
  appearance: none;
  width: 200px;
  height: 60%;
  outline: none;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
  margin-left: 5px;
  padding: 3px;
  option {
    background-color: var(--purpleHovered);
    color: inherit;
  }
  .wszystkie{
    background-color: var(--purpleDarker);
    text-transform: uppercase;
  }
  &:hover {
    cursor: pointer;
    border-color: var(--purple);
  }
}
.filmy {
  margin-top: 7vh;
  height: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 55px;
  .filmy-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    iframe {
      width: 400px;
      aspect-ratio: 1/0.5625;
    }
    div {
      width: 400px;
      font-size: 1.3em;
      color: var(--contentInverted);
      text-align: center;
    }
  }
}
@media (max-width: 1550px) {
  .filmy {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .filmy {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .materialy {
    .materialy-img {
      margin-top: 50%;
      img {
        width: 70vw;
      }
    }
  }
  .content-picker {
    top: -25vh;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    min-height: fit-content;
    button {
      margin-top: 15px;
    }
    .content-picker-select {
      font-size: 1em;
      width: 60vw;
      height: fit-content;
    }
  }

  .wide-content-picker {
    top: 6vh;
  }
  .show-content-picker {
    top: 6vh;
  }
  .filmy {
    margin-top: 0;
    .filmy-div {
      iframe {
        width: 350px;
        aspect-ratio: 1/0.5625;
      }
    }
  }
}
