@import "../App.css";

#navbar-top {
  background-color: inherit;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue);
  z-index: 3;
  .active {
    background-color: var(--purpleHovered) !important;
  }
}
#home {
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 15vw;
  .home-button {
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: inherit;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    background-color: var(--content) !important;
    height: 100%;
    width: 100%;
    img {
      border-radius: 80px;
      display: block;
      height: 10vh;
      aspect-ratio: 1/1;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--purpleHovered) !important;
    }
  }
}
#mat-zone {
  letter-spacing: -1px;
  font-family: open sans;
  font-weight: bold;
  font-size: 1.9em;
  .mat {
    margin-right: 6px;
  }
}
#top-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  .navtop-button {
    transition: background-color 0.3s, color 0.3s;
    color: var(--blue);
    font-size: 1.5em;
    font-family: inherit;
    text-decoration: none;
    border: none;
    background-color: var(--content);
    width: 25%;
    min-width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: var(--purpleHovered);
    }
    
  }
}
.toggle-buttons {
  display: flex;
  flex-direction: row;
  .zmien-motyw-div {
    margin-right: 1vw;
    margin-left: 1vw;
    align-self: center;
    height: 5vh;
    aspect-ratio: 2.25/1;
    .zmien-motyw {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      border: 2px solid var(--contentInverted);
      border-radius: 50px;
      background-color: inherit;
      color: var(--content);
      font-size: 1.5em;
      cursor: pointer;
      transition: 0.3s;
      &::before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Font Awesome 5 Free";
        font-size: 4vh;
        font-weight: 900;
        transition: transform 0.3s;
        content: "\f186";
        background-color: var(--content);
        color: var(--contentInverted);
        border: 2px solid var(--contentInverted);
        box-sizing: border-box;
        height: 95%;
        aspect-ratio: 1/1;
        margin: 1.5%;
        border-radius: 50px;
      }
    }
    input {
      display: none;
      &:checked + .zmien-motyw {
        &::before {
          content: "\f185";
          transform: translateX(6.2vh);
          font-size: 3.5vh;
        }
      }
    }
  }
  #show-nav {
    transition: background-color 0.3s, color 0.3s;
    justify-self: flex-end;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--purpleHovered);
    }
    button {
      height: 100%;
      aspect-ratio: 1/1;
      border: none;
      background-color: inherit;
      i {
        color: var(--purple);
        font-size: 4em;
      }
    }
  }
}

@media (max-width: 767px) {
  #navbar-top {
    height: 6vh;
    #home {
      margin-right: 0;
      .home-button {
        width: fit-content;
        img {
          height: 6vh;
        }
      }
    }
  }

  #mat-zone {
    font-size: 0.8em;
    span {
      margin: 0;
    }
  }
  .toggle-buttons {
    .zmien-motyw-div {
      height: 4vh;
      margin-left: 0;
      margin-right: 0;
      .zmien-motyw {
        border-color: var(--purple);
        &::before {
          font-size: 1em;
        }
      }
      input {
        &:checked + .zmien-motyw {
          &::before {
            content: "\f185";
            transform: translateX(5vh);
            font-size: 0.8em;
          }
        }
      }
    }
    #show-nav {
      button {
        width: fit-content;
        font-size: 0.4em;
      }
    }
  }
}
