@import "../App.css";

.right-nav {
  color: var(--blue);
  overflow: auto;
  position: fixed;
  opacity: 95%;
  right: -300px;
  top: 10vh;
  width: 300px;
  height: max(85vh, 100%);
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  transition: right 0.5s, background-color 0.3s;
}
.show-right-nav{
  right:0;
}
#right-segment-buttons{
  width: 100%;
  display:flex;
  flex-direction: column;
  button{
    width: 100%;
    border:none;
    background-color: inherit;
    color:white;
    text-shadow: 2px 0 0 hsl(235, 26%, 30%), 0 2px 0 hsl(235, 26%, 30%);
    font-size: 1.5em;
    padding: 25px 0 25px 20px;
    text-align: left;
  }
  .nav-clicked{
    background-color:hsl(235, 26%, 68%) !important;
  }
}
#zmien-motyw-div {
  align-self: center;
  width: 40%;
  aspect-ratio: 1/1;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.moon-button{
  background-color: var(--purpleDark);
}
.sun-button{
  background-color: var(--purpleDark);
}
.zmien-motyw {
  border: 4px solid black;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  font-size: 3em;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .right-nav {
    margin-top: -4vh;
    width: 100vw;
    right: -100vw;
  }
  .show-right-nav{
    right:0;
  }
}
