@import "../App.css";

#studia-segment {
  width: 100vw;
  padding: 40px 60px 0 60px;
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#welcome-studia {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: fit-content;
  text-transform: uppercase;
}
#welcome-studia-start {
  font-size: 3em;
  font-weight: bold;
}
#welcome-studia-content {
  color: var(--colorFont);
  font-size: 1.2em;
}

#szkola-glowna-handlowa {
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 90%;
  text-transform: uppercase;
}
#szkola-glowna-handlowa-text {
  display: flex;
  flex-direction: column;
}
#szkola-glowna-handlowa-start {
  font-size: 3em;
  color: var(--blue);
}
#szkola-glowna-handlowa-content {
  color: var(--colorFont);
  font-size: 1.2em;
}
#szkola-glowna-handlowa-img {
  margin-top: -100px;
  height: 100%;
  img {
    display: block;
    height:400px;
  }
}

@media (max-width: 700px) {
  #studia-segment{
    padding:0;
  }
  #welcome-studia {
    text-align: center;
    width: 100%;
  }
  #szkola-glowna-handlowa {
    align-self: center;
    text-align:center;
    flex-direction: column;
  }
  #szkola-glowna-handlowa-img {
    margin-top:-50px;
    align-self: center;
    img{
      height: 250px;
    }
  }
}
