@import "../App.css";

#studia {
  height: 100%;
  width: 100vw;
}
.studia-segment {
  height: calc(100% + 40vh + 50px);
  min-height: 90vh;
  padding: 20px 60px 20px 60px;
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#welcome-studia {
  align-self: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  text-transform: uppercase;
  transition: color 0.3s;
}
#welcome-studia-start {
  font-size: 3em;
  font-weight: bold;
}
#welcome-studia-content {
  color: var(--colorFont);
  width: 55%;
  font-size: 1.2em;
}
.uczelnia-segment {
  padding: 20px;
  background-color: var(--purpleHovered);
  font-weight: bold;
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 90%;
  text-transform: uppercase;
  box-shadow: 8px 8px 1px 1px var(--purple);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--purple);
    transform: translate(8px, 8px);
    box-shadow: 1px 1px 1px 1px var(--purple);
  }
  .uczelnia-segment-text {
    display: flex;
    flex-direction: column;
  }
  .uczelnia-segment-start {
    font-size: 3em;
    color: var(--blue);
  }
  .uczelnia-segment-content {
    color: var(--colorFont);
    font-size: 1.2em;
  }
  .uczelnia-segment-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      display: block;
      height: 250px;
    }
  }
}
.szkola-glowna-handlowa {
  flex-direction: row-reverse;
  .szkola-glowna-handlowa-text {
    width: 60%;
  }
}
.akademia-leona-kozminskiego {
  margin-top: 80px;
  flex-direction: row;
  .akademia-leona-kozminskiego-text {
    width: 55%;
  }
  .akademia-leona-kozminskiego-img {
    img {
      margin-top: 25px;
    }
  }
}
@media (max-width: 700px) {
  .studia-segment {
    padding: 0;
    width: 100%;
  }
  #welcome-studia {
    text-align: center;
    width: 100%;
  }
  #welcome-studia-content {
    width: 100%;
  }
  .uczelnia-segment {
    box-shadow: none;
    width: 100vw;
    align-self: center;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    &:hover {
      transform: none;
    }
    .uczelnia-segment-text {
      width: 100%;
      .uczelnia-segment-content {
        align-self: center;
        width: 80%;
      }
    }
    .uczelnia-segment-img {
      align-self: center;
    }
  }
  .szkola-glowna-handlowa {
    .szkola-glowna-handlowa-img {
      img {
        height: 150px;
      }
    }
  }
  .akademia-leona-kozminskiego {
    margin-top: 50px;
    .akademia-leona-kozminskiego-img {
      img {
        height: 120px;
      }
    }
  }
}
