:root {
  font-family: "Lato", sans-serif;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: open sans;
  --purple: hsl(235, 26%, 62%);
  --purpleChosen: hsl(235, 26%, 58%);
  --purpleHovered: hsl(235, 26%, 92%);
  --content: white;
  --purpleClicked: hsl(235, 26%, 68%);
  --color-font: #24475a;
  background-color: var(--content);
}
.website {
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--content);
  width: 100%;
  position: absolute;
  right: 0;
}
#navbar-top {
  background-color: inherit;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  z-index: 3;
}
#top-buttons {
  margin-left: 7%;
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#top-buttons button {
  color: var(--color-font);
  font-size: 1.5em;
  font-family: inherit;
  border: none;
  background-color: var(--content);
  width: 25%;
  min-width: fit-content;
  height: 100%;
}
#navbar-top button:hover {
  cursor: pointer;
  background-color: var(--purpleHovered);
}
#home {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#home img {
  border-radius: 80px;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 1/1;
}
#home button {
  font-family: inherit;
  font-size: 1.5em;
  border: none;
  background-color: var(--content);
  height: 100%;
  width: 80%;
}
#home button:hover {
  cursor: pointer;
  background-color: var(--purpleHovered);
}
#mat-zone {
  letter-spacing: -1px;
  color: var(--color-font);
  font-family: open sans;
  margin-left: -170px;
  font-weight: bold;
  font-size: 1.9em;
}
#mat-zone span {
  color: var(--purple);
  margin-right: 6px;
}
#show-nav {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#show-nav:hover {
  background-color: var(--purpleHovered);
}
#show-nav button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: inherit;
}
#show-nav button i {
  color: var(--purple);
  font-size: 4em;
}
#right-nav {
  overflow: auto;
  position: fixed;
  opacity: 95%;
  right: 0;
  top: 10vh;
  width: 300px;
  height: max(85vh, 100%);
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: show-from-right 0.4s;
  z-index: 2;
}
@keyframes show-from-right {
  from {
    margin-right: -300px;
  }
  to {
    margin-right: 0;
  }
}
#klasa-picker {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.klasa {
  border-radius: 5px;
  font-family: inherit;
  align-self: center;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--purple);
  border: 2px solid var(--content);
  height: min(10vh, fit-content);
  width: 70%;
  margin-top: 10px;
}
.klasa-name:hover {
  background-color: var(--purpleClicked);
  cursor: pointer;
}
.klasa div {
  text-align: center;
  padding: 10px;
  width: calc(100% - 20px);
}
.klasa-div {
  display: flex;
  flex-direction: column;
}
.podstawa-i-rozszerzenie {
  width: 100% !important;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 10px 5px 10px !important;
  font-size: 0.8em !important;
}
.podstawa {
  margin-top: -10px;
}
.rozszerzenie {
  margin-bottom: -10px;
}
.podstawa-i-rozszerzenie:hover {
  background-color: var(--purpleClicked);
  cursor: pointer;
}
.this-is-chosen {
  background-color: var(--purpleChosen) !important;
}
#content-picker {
  z-index: 1;
  color: inherit;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 50px;
  background-color: var(--content);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  animation: show-content-picker 0.8s;
}
@keyframes show-content-picker {
  from {
    top: 5vh;
  }
  to {
    top: 10vh;
  }
}
#content-picker button {
  color: inherit;
  font-family: inherit;
  background-color: var(--content);
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 3%;
  height: 50%;
  width: fit-content;
  transition: border 0.5s;
}
#content-picker button:hover {
  border-color: var(--purple);
}
#dzial-select {
  margin-left: 3%;
  min-width: 10%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#dzial-select select {
  font-family: inherit;
  background-color: var(--content);
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  appearance: none;
  padding: 0 30px 0 15px;
  min-width: fit-content;
  width: 50%;
  margin-left: 10px;
  transition: all 0.5s;
}
#dzial-select select:hover {
  border-color: var(--purple);
}
#dzial-select select:focus {
  outline: none;
}
#zrodlo-select {
  margin-left: 3%;
  width: 10%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#zrodlo-select select {
  font-family: inherit;
  margin-left: 3%;
  height: 100%;
  border: 2px solid black;
  background-color: var(--content);
  border-radius: 5px;
  appearance: none;
  padding: 0 30px 0 15px;
  width: fit-content;
  transition: all 0.5s;
}
#zrodlo-select select:hover {
  border-color: var(--purple);
}
#zrodlo-select select:focus {
  outline: none;
}

#content {
  color:var(--color-font);
  font-family: inherit;
  background-color: var(--content);
  margin-top: calc(10vh + 20px);
  min-height: calc(90vh - 20px);
  display: flex;
  justify-content: center;
}
#home-page {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
@keyframes show-welcome-page {
  from {
    margin-top: -30vh;
  }
}
#welcome-home-page {
  color: var(--color-font);
  animation: show-welcome-page 1s;
  align-self: flex-start;
  margin-left: 190px;
  font-size: 5.5em;
  font-weight: bold;
  text-transform: uppercase;
}
#welcome-home-page br {
  content: "";
  margin: -25px;
  display: block;
}
#welcome-home-page span {
  margin-left: 150px;
  align-self: center;
  color: var(--purple);
}
#big-buttons {
  height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#big-buttons button {
  box-shadow:15px 15px 1px 1px var(--purpleHovered);
  font-family: inherit;
  font-size: 1.4em;
  background-color: var(--content);
  border-radius: 100%;
  border: 3px solid black;
  height: 300px;
  aspect-ratio: 1/1;
  display:flex;
  justify-content: center;
  align-items: center;
}
#big-buttons button:hover{
  cursor: pointer;
}
#big-buttons button img{
  display:block;
  width:70%;
  aspect-ratio: 1/1;
}
.filmy-i-artykuly {
  position: relative;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#shuffle-button{
  position:fixed;
  left:5%;
  top:20vh;
}
#shuffle-button button{
  font-size: 1.5em;
  height:90px;
  aspect-ratio: 3/2;
  color: inherit;
  font-family: inherit;
  background-color: var(--content);
  border: 2px solid black;
  border-radius: 5px;
}
#shuffle-button button:hover{
  cursor: pointer;
  background-color: var(--purpleHovered);
}
#pokaz-klase {
  align-self: center;
  font-size: 3.2em;
  font-weight: 600;
}
iframe {
  width: 400px;
  height: 270px;
}
.filmy {
  margin-top: 50px;
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 55px;
}
#korepetycje{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8% 1fr;
  grid-template-areas: 
  "lokalizacja . ."
  "welcome . .";
  row-gap: 12%;
  margin-left:15px;
}
#wpisz-lokalizacje{
  animation: show-lokalizacja 1s;
  justify-self: center;
  grid-area: lokalizacja;
  padding-left: 5px;
  border:2px solid black;
  border-radius:5px;
  box-shadow:10px 10px 1px var(--purpleHovered);
  font-size:2em;
  height:100%;
  width:85%;
  display:flex;
  flex-direction: row;
  align-items: center;
}
#wpisz-lokalizacje form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#wpisz-lokalizacje form input{
  font-size: inherit;
  color:inherit;
  box-sizing: border-box;
  height:100%;
  width:75%;
  border:none;
  outline: none;
}
#wpisz-lokalizacje form input:focus{
  border:none;
}
#wpisz-lokalizacje form button {
  border:none;
  display: block;
  border-radius: inherit;
  background-color: var(--content);
  height: 100%;
  aspect-ratio: 1/1;
}
#wpisz-lokalizacje form button:hover {
  cursor: pointer;
  background-color: var(--purpleHovered);
}
#wpisz-lokalizacje form button i{
  color:var(--color-font);
  font-size:3.5em;
}
#welcome-korepetycje{
  animation: show-welcome-korepetycje 1s;
  text-align: center;
  grid-area:welcome;
  font-size:4em;
  font-weight: bold;
  text-transform: uppercase;
}
#welcome-korepetycje br {
  content: "";
  margin: -20px;
  display: block;
}
#welcome-korepetycje span{
  color: var(--purple);
}
@keyframes show-lokalizacja {
  from {
    margin-top: -30vh;
  }
}
@keyframes show-welcome-korepetycje {
  from {
    margin-top: -30vh;
  }
}
@media (max-width: 1750px) {
  .filmy {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .filmy {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  #content-picker {
    flex-direction: column;
    height: fit-content;
  }
  #dzial-select {
    flex-direction: column;
  }
  #zrodlo-select {
    flex-direction: column;
  }
  #content-picker button {
    margin-top: 15px;
  }
  iframe {
    width: 280px;
    height: 200px;
  }
  #big-buttons{
    flex-direction: column;
  }
  #big-buttons button{
    align-self: center;
    height:150px;
    width: 150px;
  }
}
