:root {
  font-family: "Open Sans", sans-serif;
  background-color: var(--content);
  font-size: 0.8vw;
  margin: 0;
  padding: 0;
}
.website {
  font-size: 1em;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--content);
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
#content {
  transition: background-color 0.3s, color 0.3s;
  height: 100%;
  width: 100%;
  color: var(--blue);
  font-family: inherit;
  background-color: var(--content);
  margin-top: 10vh;
  min-height: calc(90vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.purple-text {
  color: var(--purple);
  transition: color 0.3s;
}
.blue-text{
  color: var(--blue);
  transition: color 0.3s;
}
@media (max-width: 767px) {
  :root {
    font-size: 16px;
  }
  #content {
    margin-top: 6vh;
  }
}
