:root {
  background-color: white;
  color: white;
  --background: hsl(219, 48%, 30%);
  --content: hsl(209, 44%, 85%);
  --buttonclicked: hsl(219, 48%, 33%);
}

.website {
  font-family: "Lato", sans-serif;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--content);
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 10% 1fr;
  grid-template-areas:
    "leftside navtop"
    "leftside content-picker"
    "leftside content";
}
.website-with-videos{
  grid-template-rows: 15% 10% 1fr;
}
#left-side {
  background-color: var(--background);
  grid-area: leftside;
  position: sticky;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#home {
  position: sticky;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 25vh;
}
#home button {
  border: none;
  background-color: var(--content);
  border-radius: 5px;
  height: 65%;
  width: 65%;
}
#home button:hover {
  cursor: pointer;
  background-color: var(--content);
}
#navbar-top {
  grid-area: navtop;
  height: min(100%, 15vh);
  position: sticky;
  top: 0;
  background-color: var(--background);
  border: 1px solid black;
  border-left: none;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top-buttons {
  margin-left: 7%;
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top-buttons button {
  border: none;
  border-radius: 5px;
  background-color: var(--content);
  width: 19%;
  height: 50%;
}
#navbar-top button:hover {
  cursor: pointer;
  background-color: var(--content);
}
#logowanie {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#logowanie button {
  border: none;
  background-color: var(--content);
  border-radius: 5px;
  height: 50%;
  width: 40%;
}

#navbar-left {
  position: sticky;
  top: 25vh;
  background-color: var(--background);
  border-right: 2px solid black;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#navbar-left div {
  padding: 10px;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--background);
  border-bottom: 2px solid black;
  height: 80px;
}
#navbar-left div:hover {
  background-color: var(--buttonclicked);
  cursor: pointer;
}
.klasa-div {
  display: flex;
  flex-direction: column;
}
.podstawa-i-rozszerzenie {
  border-top: 1px solid black;
  padding: 5px !important;
  width: 103% !important;
  font-size: 0.8em !important;
  min-height: 50% !important;
}
.podstawa {
  border-bottom: none !important;
}
#content-picker {
  color: black;
  grid-area: content-picker;
  width: 100%;
  height: 100%;
  background-color: var(--content);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#content-picker button {
  background-color: var(--content);
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 3%;
  height: 35%;
  width: 7%;
}
#dzial-select {
  margin-left: 3%;
  min-width: 10%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#dzial-select select {
  background-color: var(--content);
  height: 70%;
  border: 2px solid black;
  border-radius: 5px;
  appearance: none;
  padding: 0 30px 0 15px;
  width:fit-content;
  margin-left: 10px;
}
#dzial-select select:focus {
  outline: none;
}
#zrodlo-select {
  margin-left: 3%;
  width: 10%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#zrodlo-select select {
  margin-left: 3%;
  height: 70%;
  border: 2px solid black;
  background-color: var(--content);
  border-radius: 5px;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 70%;
}
#zrodlo-select select:focus {
  outline: none;
}
#content {
  border-top: 1px solid black;
  margin-top: -2px;
  padding: 100px;
  color: black;
  grid-area: content;
  background-color: var(--content);
}
#content div::selection {
  background-color: hsl(204, 57%, 80%);
}
#home-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
#home-page button {
  background-color: var(--content);
  border-radius: 5px;
  border: 1px solid black;
  height: 25%;
  width: 15%;
}
iframe {
  width: 400px;
  height: 270px;
}
.na-stronie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filmy {
  margin-top: 25px;
  margin-left: -100px;
  width: 80%;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media (max-width: 1750px) {
  .filmy {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .filmy {
    grid-template-columns: 1fr;
  }
}
